<div class="container">
    <div class="form-box">
        <h1 id="title">Sign Up</h1>
        <form>
            <div class="input-group">
                <div class="input-field" id="nameField">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" placeholder="Enter Name">
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-phone"></i>
                    <input type="text" placeholder="Enter Mobile Number">
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" placeholder="Enter Password">
                </div>
                <div class="input-field" id="confirmPassword">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" placeholder="Confirm Password">
                </div>
            </div>
            <div class="btn-field">
                <button type="button" id="signupBtn">Sign Up</button>
                <button type="button" id="signinBtn" (click)="navigateToSignIn()">Sign In</button>

            </div>
        </form>
    </div>
</div>

  
